@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Medium.ttf"),
       /*url("./Roboto-BlackItalic.ttf"),*/
       /*url("./Roboto-Bold.ttf"),*/
       /*url("./Roboto-BoldItalic.ttf"),*/
       /*url("./Roboto-Italic.ttf"),*/
       /*url("./Roboto-Light.ttf"),*/
       /*url("./Roboto-LightItalic.ttf"),*/
       url("./Roboto-MediumItalic.ttf"),
       url("./Roboto-Black.ttf"),
       url("./Roboto-Regular.ttf");
       /*url("./Roboto-Thin.ttf"),*/
       /*url("./Roboto-ThinItalic.ttf");*/
}


body {
    font-family: "Roboto" , serif;
    margin: 0 0;
}
